.article-form
  = simple_form_for(@article) do |f|
    = f.input :title
    = f.input :body

    = f.simple_fields_for :category, @article.category || Category.new do |category_form|
      = category_form.input :name, label: "Category name"

    - article_tags = @article.tags.empty? ? Tag.new : @article.tags
    = f.simple_fields_for :tags, article_tags do |tags_form|
      = tags_form.input :name, label: "Tag names"

    = f.input :published

    .actions
      = f.button :submit, class: "btn-primary"
