.article-form
  = simple_form_for(@article) do |f|
    = f.input :title
    = f.input :body

    .input
      = f.label :category
      = f.text_field :category, :value => @category_name

    .input
      = f.label :tags
      = f.text_field :tags, :value => @article.get_tag_names

    = f.input :published

    .actions
      = f.button :submit, class: "btn-primary"
