<h1>Listing articles</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Body</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.url %></td>
    <td><%= article.title %></td>
    <td><%= article.body %></td>
    <td>
      <% article.tags.each do |t| %>
        <%= t.name + ' ' %>
      <% end %>
    </td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>


<br/><br/><br/>

click <a id="ajaxtester">here</a>

<script type="text/javascript">

$(function() {
    $('#ajaxtester').on('click', function() {
        $.ajax({
            url: "/articles/ajaxcall.json",
            data: { ok: "yep", maybe: "whatever" },
            dataType: "json",
            type: "get",
            success: function(data) {
              alert("response: " + JSON.parse(data))
            },
            error: function(jqXHR, textStatus, errorThrown) {
              alert(errorThrown)
            }
        });
    });
});

</script>