
<%= link_to 'New Article', new_article_path %>

<br/><br/>


<% @articles.each do |article| %>
  <div class='article-container'>
    <div class='article-title'>
      <%= link_to article.title, article %>
    </div>

    <div class='article-create-date'>
      <%= article.created_at.to_formatted_s(:db) %>
    </div>

    <div class='article-body'>
      <%= article.body.html_safe %>
    </div>

    <div class='article-tags'>
      <em>
        <strong>tags:</strong>
        <% article.tags.each do |t| %>
          <%= t.name + ' ' %>
        <% end %>
      </em>
    </div>

    <div class='admin-article'>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    </div>
  </div>

  <div class='article-spacer'></div>

<% end %>

<br/><br/><br/>

click <a id="ajaxtester">here</a>

<script type="text/javascript">

$(function() {
    $('#ajaxtester').on('click', function() {
        $.ajax({
            url: "/articles/ajaxcall.json",
            data: { ok: "yep", maybe: "whatever" },
            dataType: "json",
            type: "get",
            success: function(data) {
              alert("response: " + JSON.parse(data))
            },
            error: function(jqXHR, textStatus, errorThrown) {
              alert(errorThrown)
            }
        });
    });
});

</script>