<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @article.url %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Body:</b>
  <%= @article.markdown %>
</p>

<p>
  <b>Category:</b>
  <% unless @article.category == nil %>
    <%= @article.category.name %>
  <% end %>
</p>

<p>
  <b>Tags:</b>
  <% @article.tags.each do |t| %>
    <%= t.name + ' ' %>
  <% end %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>


