.article-title
  #{@article.title}

.article-create-date
  - unless @article.created_at.blank?
    = @article.created_at.to_formatted_s(:db)

.article-body
  #{@article.markdown}

.article-category
  - unless @article.category == nil
    = @article.category.name

.article-tags
  - @article.tags.each do |t|
    = t.name + ' '

.article-author
  = @article.author.username

%br

- if can? :manage, @article
  #{link_to 'Edit', edit_article_path(@article)} | #{link_to 'Back', articles_path}
