= simple_form_for(@user) do |user_form|
  - if @user.errors.any?
    #error_explanation
      %h2= pluralize(@user.errors.count, "error") 

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = user_form.input :username, :readonly => true
  = user_form.input :email, :readonly => true
  = user_form.input :is_email_validated, :disabled => true
  = user_form.input :is_admin?, as: :boolean, label: "Set as admin"
  = user_form.input :first_name 
  = user_form.input :last_name 
  = user_form.input :is_enabled
  = user_form.input :is_deleted
  .actions
    = user_form.button :submit, { class: "btn-primary" }
