<!DOCTYPE html>
<html>
<head>
  <title>Furioustypist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class='main-title'>
  <a href="/"><h1>Furious Typist</h1></a>
</div>

<div id="auth-container">
  <% if user_signed_in? %>
    <span class='username'><%= link_to current_user.username, user_path(current_user) %></span> :
    <span class='logout'><%= link_to 'log out', destroy_user_session_path, :method => :delete %></span>
  <% else %>
    <span class='signin'><%= link_to 'sign in ', '/users/sign_in' %></span> :
    <span class='register'><%= link_to 'register', '/users/sign_up' %></span>
  <% end %>
</div>

<%= yield %>


</body>
</html>