!!!
%html
  %head
    %title
      Furioustypist
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %body
    %p.notice= notice
    %p.alert= alert

    .main-title
      - title = content_tag :h1, "Furious Typist"
      = link_to title, "/", class: "header title"


    #search_link= link_to "Search Articles", searches_path

    = yield
